.liveVideo {
    width: 400px;
    object-fit: cover;
}

@media only screen and (min-width: 1440px) {
    .liveVideo {
        width: 800px;
        object-fit: cover;
    }
}

@media only screen and (max-width: 900px) {
    .liveVideo {
        width: 200px;
        object-fit: cover;
    }
}