.popupLogs {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.popupDetail {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.popupView {
    width: auto;
    height: auto;
}

.logButton span {
    min-width: 40px;
}

.stopButton span {
    min-width: 40px;
}

.detailButton span {
    min-width: 40px;
}

.viewButton span {
    min-width: 40px;
}